/*STYLE OGÓLNE*/
body, html {
    text-align: center;
    font-family: 'Robo Slab', sans-serif;
    color: #777;
}
.section_header, .menu_list_items, .btn, h1, h4  {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    color: #333;
    font-weight: 500;
}

#menu_logo, h2, h3, h5 {
    font-family: 'Droid Serif', italic;
    color: #333;
}

header ~ section {
    height: 100%;
    padding: 7% 0;
}

.section_subheader {padding-bottom: 5%;}

i {color: #fff;}

.social_media_icons_container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.social_media_icons_wrapper {
    height: 35px;
    width: 35px;
    background-color: #333;
    border-radius: 50%;
    margin: 8px;
    display: flex;
    flex-direction: column;
}

.social_media_icons {
    margin: auto;
    font-size: 20px;
}

.social_media_icons_wrapper:hover {
    background-color: #5bc0de;
    transition: all 0.2s ease-in-out;
}

/*STYLE MENU*/
#menu {
    background-color: rgba(255,255,255,0);
    border: none;
}

#menu_logo, #menu .menu_list_items {color: #fff;}

/*STYLE HEADER*/
#header {
    background-image: url("../img/header/pictures_on_the_wall.jpg");
    background-position: center;
    background-size: cover;
    height: 100%;
    padding: 35vh 0;
}

#header h1 {
    color: #fff;
    font-weight: 600;
    font-size: 8vh;
}

#header #header_motto {color: #fff;}

#header #header_button {
    color: #fff;
    padding: 15px;
}


/*STYLE SERVICES*/
#services .services_items_icons_wrapper {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: #5bc0de;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 70px;
    padding: 25px 0;
}


/*STYLE PORTFOLIO*/
#portfolio {background-color: #f7f7f7;}

#portfolio .portfolio_item_image_wrapper {height: 400px;}

#portfolio .portfolio_item_image {
    width: 100%;
    height: 75%;
    background-position: center;
    background-size: cover;
    position: relative;
}

#portfolio_item_image_1 {background-image: url('../img/portfolio/chestnut_on_bracket.jpg')}
#portfolio_item_image_2 {background-image: url('../img/portfolio/typing_on_laptop.jpg')}
#portfolio_item_image_3 {background-image: url('../img/portfolio/child_with_blue_paint.jpg')}
#portfolio_item_image_4 {background-image: url('../img/portfolio/chaotic_paint.jpg')}
#portfolio_item_image_5 {background-image: url('../img/portfolio/house_with_blue_doors.jpg')}
#portfolio_item_image_6 {background-image: url('../img/portfolio/box_of_cookies.jpg')}

#portfolio .portfolio_item_mask {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    background-color: rgba(14,216,214, 0.8);
    font-size: 2%;
}

#portfolio .portfolio_item_mask:hover {
    opacity: 1;
    transition: all 0.3s ease-in-out;
}

#portfolio .portfolio_item_mask_content {
    position: relative;
    height: 100%;
}

#portfolio .portfolio_item_mask_content_inner {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 5px;
    font-size: 60px;
}


/*STYLE TEAM*/
#team .team_image_wrapper {
    height: 200px;
    width: 200px;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
}

#team #team_image_1 {background-image: url('../img/team/man-1.jpg');}
#team #team_image_2 {background-image: url('../img/team/man-2.jpg');}
#team #team_image_3 {background-image: url('../img/team/woman-1.jpg');}

#team #team_bottom_description {padding-top: 3%;}


/*STYLE CONTACT*/
#contact {
    height: 100%;
    background-image: url('../img/footer/world-map.jpg');
    background-position: center;
    background-size: cover;
}

#contact h2, #contact h3, #contact input[type="submit"] {color: #fff;}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {font-weight: 700;}
input::-moz-placeholder, textarea::-moz-placeholder {font-weight: 700;}
input::-ms-input-placeholder, textarea::-ms-input-placeholder {font-weight: 700;}
input:-moz-placeholder, textarea:-moz-placeholder {font-weight: 700;}

#contact .col-md-6 input, textarea {
    width: 100%;
    border-radius: 5px;
    padding: 20px;
    border: none;
}

#contact #input_left_column, #contact #input_right_column {
    height: 250px;
    margin: 30px 0;
}

#contact input[type="email"] {margin: 30px 0;}

/*STYLE FOOTER*/
#footer .copyright i {color: #777;}

#footer .copyright, #footer .terms_of_use {
    font-size: 17px;
    padding: 16px 0 10px 0;
}

#footer p {margin: 0;}