p {
    font-size: 30px;
    position: absolute;

    animation-timing-function: linear;
}

.ppp {
    animation-duration: 1s;
    animation-name: count;
    animation-iteration-count: 1;
    opacity: 0;
}

#p10 {
    animation-duration: 10s;
    animation-name: count1;
    animation-iteration-count: 1;
}

@keyframes count1 {
    0%,99.9% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#p9 {
    animation-delay: 1s;
}

#p8 {
    animation-delay: 2s;
}

#p7 {
    animation-delay: 3s;
}

#p6 {
    animation-delay: 4s;
}

#p5 {
    animation-delay:5s;
}

#p4 {
    animation-delay:6s;
}

#p3 {
    animation-delay:7s;
}

#p2 {
    animation-delay:8s;
}

#p1 {
    animation-delay:9s;
}

@keyframes count {
    0%,100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}
